<mj-button href="{{ url }}" font-family="{{ fonts.sans }}" background-color="{{ colors.primary[9]["light"] }}" color="{{ colors.primary[1]["light"] }}" font-size="14px" border-radius="8px" inner-padding="0 12px" padding="0 24px" height="36px">
  {{ text }}
</mj-button>