# Server Config
NODE_ENV=development
TZ=UTC
PORT=3333
HOST=localhost
APP_URL=http://${HOST}:${PORT}
LOG_LEVEL=info
APP_KEY=

# Frontend Config
FRONTEND_URL=http://localhost:3000

# Session Config
SESSION_DRIVER=cookie

# Database Config
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=supersecret
DB_DATABASE=app

# Mail Config
MAIL_MAILER=smtp
MAIL_FROM_NAME=E5 Stack
MAIL_FROM_ADDRESS=noreply@e5-stack.com

# SMTP Config
SMTP_HOST=127.0.0.1
SMTP_PORT=2525

# Redis Config
REDIS_CONNECTION=main
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=supersecret

# Rate Limiter Config
LIMITER_STORE=redis

# Queue Config
QUEUE_DRIVER=redis

# Drive Config
DRIVE_DRIVER=fs